/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
.navbar {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-right {
    margin-left: auto;
}

.nav-right a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
}

/* Contact section styles */
.contact-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section p {
    margin-bottom: 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.contact-section label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-section textarea {
    resize: vertical;
}

.contact-section input[type="submit"] {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border: none;
}

.contact-section input[type="submit"]:hover {
    background-color: #3f3f3f;
}

/* Contact information styles */
.contact-info {
    margin-top: 30px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Social media icons */
.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #3f3f3f;
}
